@keyframes appear {
    0% {
        opacity: 0.5;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

body {
    animation: appear 2000ms ease-in-out both;
}
